/ExactNonparametricTestingUSERGUIDE4-1.pdf
/Nonstandardized_and_Bernoullitests_v035.r
/Rglpk.pdf
/elm.Rcheck/00_pkg_src/elm/ExactNonparametricTestingUSERGUIDE4-1.pdf
/elm.Rcheck/00_pkg_src/elm/Nonstandardized_and_Bernoullitests_v035.r
/elm.Rcheck/00_pkg_src/elm/Rglpk.pdf
/elm.Rcheck/00_pkg_src/elm/quadprog.pdf
/elm.Rcheck/00_pkg_src/elm/schlagglossner_exact_linear_regression.pdf
/elm.Rcheck/00check.log
/elm.Rcheck/00install.out
/elm.Rcheck/00_pkg_src/elm/DESCRIPTION
/elm.Rcheck/00_pkg_src/elm/NAMESPACE
/elm.Rcheck/00_pkg_src/elm/R/elm.R
/elm.Rcheck/00_pkg_src/elm/R/elm_new.R
/elm.Rcheck/00_pkg_src/elm/R/helper_functions.R
/elm.Rcheck/00_pkg_src/elm/R/print.elm.R
/elm.Rcheck/00_pkg_src/elm/man/elm-package.Rd
/elm.Rcheck/00_pkg_src/elm/man/elm.Rd
/elm/R/.Rhistory
/quadprog.pdf
/schlagglossner_exact_linear_regression.pdf
/elm.Rcheck/00_pkg_src/elm/R/BernoulliTest.R
/elm.Rcheck/*
/programming_notes.org